<head>
  <link rel="stylesheet" href="/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Quicksand" rel="stylesheet">
</head>

<h1>Hello there!</h1>

<form class="" action="/message" method="post">
  <label for="name">What's your name?  </label>
    <input type="text" name="name" value="" placeholder="Your name...">

  <label for="date">When's your birthday?  </label>
    <input type="date" name="date" value="">

  <input type="submit" name="submit" value="Go!">
</form>
