<head>
  <link rel="stylesheet" href="/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Quicksand" rel="stylesheet">
</head>

<% if @date.birthday? == true %>
<h1>Happy birthday <%= @name %>!</h1>
<% else %>
<h1>Your birthday is in <%= @date.calculate_days %> days, <%= @name %></h1>
<% end %>
